<html ng-app="EAG_Home">
    <head>
        <title>Entity Access Gateway Home</title>

        <link rel="stylesheet" href="/stylesheets/bootstrap.min.css"/>
        <link rel="stylesheet" href="/stylesheets/bootstrap-theme.min.css"/>
        <link rel="stylesheet" href="/stylesheets/style.css"/>

        <script type="text/javascript" src="/javascripts/jquery-1.11.1.min.js"></script>
        <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
        <script type="text/javascript" src="/javascripts/angular.min.js"></script>

        <script type="text/javascript" src="/javascripts/eag_home/controllers.js"></script>
        <script type="text/javascript" src="/javascripts/eag_home/app.js"></script>

    </head>
    <body class="container">
        <div class="row">
            <div class="col-md-8">
                <h1>Welcome to the Entity Access Gateway</h1>
            </div>
            <div class="col-md-4 text-right" ng-controller="GlobalMenuController">
                <br/>
                <button class="btn btn-success" ng-click="showCreateEntityPanelClick()">Create Entity</button>
            </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <hr/>
          </div>
        </div>
        <div class="row" ng-controller="AlertsController">
          <div class="alert alert-success alert-dismissible" role="alert" ng-show="success.entityDelete != undefined">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
              Entity deleted successfully
          </div>

          <div class="alert alert-success alert-dismissible" role="alert" ng-show="success.entityCreate != undefined">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
              Entity created successfully
          </div>
        </div>
        <div class="row">
            <div class="col-md-3" ng-controller="NavigationController">
              <div class="panel panel-default">
                <div class="panel-body">
                  <h3>Entities</h3>
                  <br/>
                  <div class="list-group">
                      <a href="" class="list-group-item" ng-click="displayDetail(entity._id)" ng-repeat="entity in entities">\{{entity.name}}</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-9">
              <div class="row">
                <div class="col-md-12" ng-controller="CreateEntityController">
                  <div class="panel panel-default" ng-show="showCreateEntityPanel != undefined">
                    <div class="panel-body">
                      <div class="row">
                        <div class="col-md-12">
                          <h2 class="inline-block">Create Entity</h2>
                          <hr/>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <div class="alert alert-danger alert-dismissible" role="alert" ng-show="showTypeErrorPanel != undefined">
                            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                              Invalid type <strong>\{{showTypeErrorPanel.type}}</strong> for property <strong>\{{showTypeErrorPanel.name}}</strong>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <form role="form">
                            <div class="input-group">
                              <label for="entityNameText">Entity Name:</label>
                              <input type="text" class="form-control" id="entityNameText" placeholder="Entity Name" ng-model="newEntity.entityName"/>
                            </div>
                            <br/>
                            <div class="input-group">
                              <label for="propertiesList">Properties:</label>
                              <div ng-repeat="newProperty in newEntity.properties">
                                <div class="row">
                                  <div class="col-md-5">
                                    <input type="text" ng-model="newProperty.name" class="form-control" placeholder="Name"/>
                                  </div>
                                  <div class="col-md-5">
                                    <input type="text" ng-model="newProperty.type" class="form-control" placeholder="Type" ng-enter="addNewProperty()"/>
                                  </div>
                                  <div class="col-md-2">
                                    <button ng-click="removeProperty($index)" type="button" class="btn btn-default" tabindex="-1" aria-left="true">
                                      &nbsp;<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>&nbsp;
                                    </button>
                                  </div>
                                </div>
                              </div>
                              
                            </div>
                            <div class="input-group">
                              <br/>
                              <button type="button" class="btn btn-default" ng-click="addNewProperty()">
                                <span class="glyphicon glyphicon-plus"></span> Add property
                              </button>
                            </div>
                          </form>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <br/>
                          <hr/>
                          <div class="pull-left">
                            <button class="btn btn-default" ng-click="cancelCreateEntity()">Cancel</button>
                          </div>
                          <div class="pull-right">
                            <button class="btn btn-primary" ng-click="createEntityButton()">Create</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <div class="row">
              <div class="col-md-12" ng-controller="EntityDetailController">
                <div class="panel panel-default" ng-show="entity != undefined">
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-md-8">
                        <h2 class="inline-block">\{{entity.name}}</h2>
                      </div>
                      <div class="col-md-4">
                        <h2></h2>
                        <div class="pull-right">
                          <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                              Actions <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                              <li class="divider"></li>
                              <li class="divider"></li>
                              <li class="text-center"><strong>Instance actions</strong></li>
                              <li class="divider"></li>
                              <li><a href="" ng-click="createInstancePanelClick()">Create Instance</a></li>
                              <li><a href="" ng-click="listInstancePanelClick()">View Instances</a></li>
                              <li class="divider"></li>
                              <li class="divider"></li>
                              <li class="text-center"><strong>Entity actions</strong></li>
                              <li class="divider"></li>
                              <li class="danger"><a href="" data-toggle="modal" data-target="#entityDeleteConfirmationModal">Delete Entity</a></li>
                            </ul>
                        </div>
                      </div>
                      </div>
                      
                      <div class="modal fade" id="entityDeleteConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="entityDeleteConfirmationModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                              <h4 class="modal-title" id="myModalLabel">Are you sure?</h4>
                            </div>
                            <div class="modal-body">
                              <p>
                                This action will delete <strong>\{{entity.name}}</strong> entity. All instances associated with this entity will be deleted. 
                              </p>
                              <p>
                                Currently, there are <strong>\{{countInstances()}}</strong> instance(s) associated with this Entity.
                              </p>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                              <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="deleteEntityConfirmClick(entity._id)">Confirm delete</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <hr/>
                    </div>
                    <div class="row">
                      <div class="well" ng-show="showCreateInstancePanel == true">
                        <div class="form">
                          <div class="form-group" ng-repeat="property in entity.properties">
                            <div class="input-group">
                              <label for="inputBox\{{$index}}">\{{property.name}}:</label> <input id="inputBox\{{$index}}" name="inputBox\{{$index}}" type="\{{property.type == 'string' ? 'text' : (property.type == 'number' ? 'number' : 'date')}}" ng-model="newObject.props[property.name]" class="form-control"/>
                            </div>
                          </div>
                        </div>
                        <button ng-click="createInstance()">Create</button>
                      </div>
                      <div class="well text-center consoleText" ng-show="showListInstancePanel == true">
                        <textarea rows="20" cols="90" readonly>\{{instanceList}}</textarea>
                      </div>
                    </div>
                    <h3>Properties</h3>
                    <ul ng-repeat="property in entity.properties">
                      <li>\{{property.name}} = \{{property.type}}</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </body>
</html>
