<html ng-app="EAG_Home">
    <head>
        <title>Entity Access Gateway Home</title>

        <script type="text/javascript" src="/javascripts/jquery-1.11.1.min.js"></script>
        <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
        <script type="text/javascript" src="/javascripts/angular.min.js"></script>
        <!--<script type="text/javascript" src="/javascripts/angular-resource.min.js"></script>-->
        <script type="text/javascript" src="/javascripts/eag_home/controllers.js"></script>
        <script type="text/javascript" src="/javascripts/eag_home/app.js"></script>

        <link rel="stylesheet" href="/stylesheets/bootstrap.min.css"/>
        <link rel="stylesheet" href="/stylesheets/bootstrap-theme.min.css"/>
        <link rel="stylesheet" href="/stylesheets/style.css"/>
    </head>
    <body class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="page-header">Welcome to the Entity Access Gateway</h2>
            </div>
        </div>
        <div class="row" ng-controller="AlertsController">
          <div class="alert alert-success alert-dismissible" role="alert" ng-show="success.entityDelete != undefined">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
              Entity deleted successfully
          </div>
        </div>
        <div class="row">
            <div class="col-md-3" ng-controller="NavigationController">
              <div class="panel panel-default">
                <div class="panel-body">
                  <h3>Entities</h3>
                  <!-- Navigation -->
                  <br/>
                  <div class="list-group" ng-repeat="entity in entities">
                      <a href="#" class="list-group-item" ng-click="displayDetail(entity._id)">\{{entity.name}}</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-9" ng-controller="EntityDetailController">
              <div class="panel panel-default" ng-show="entity != undefined">
                <div class="panel-body">
                  <!-- Entity Details-->
                  
<!--                  <hr/>-->
                  
                  <div class="row">
                    <div class="col-md-8">
                      <h2 class="inline-block">\{{entity.name}}</h2>
                    </div>
                    <div class="col-md-4">
                      <h2></h2>
                      <div class="pull-right">
                        <div class="btn-group">
                          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            Actions <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu" role="menu">
                            <li class="divider"></li>
                            <li class="divider"></li>
                            <li class="text-center"><strong>Instance actions</strong></li>
                            <li class="divider"></li>
                            <li><a href="" ng-click="createInstancePanelClick()">Create Instance</a></li>
                            <li><a href="" ng-click="listInstancePanelClick()">View Instances</a></li>
                            <li class="divider"></li>
                            <li class="divider"></li>
                            <li class="text-center"><strong>Entity actions</strong></li>
                            <li class="divider"></li>
                            <li class="danger"><a href="" data-toggle="modal" data-target="#entityDeleteConfirmationModal">Delete Entity</a></li>
                          </ul>
                      </div>
                    </div>
                    </div>
                    
                    <div class="modal fade" id="entityDeleteConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="entityDeleteConfirmationModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <h4 class="modal-title" id="myModalLabel">Are you sure?</h4>
                          </div>
                          <div class="modal-body">
                            <p>
                              This action will delete <strong>\{{entity.name}}</strong> entity. All instances associated with this entity will be deleted. 
                            </p>
                            <p>
                              Currently, there are <strong>\{{countInstances()}}</strong> instance(s) associated with this Entity.
                            </p>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="deleteEntityConfirmClick(entity._id)">Confirm delete</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <hr/>
                  </div>
                  <div class="row">
                    <div class="well" ng-show="showCreateInstancePanel == true">
                      <div class="form">
                        <div class="form-group" ng-repeat="property in entity.properties">
                          <div class="input-group">
                            <label for="inputBox\{{$index}}">\{{property.name}}:</label> <input id="inputBox\{{$index}}" name="inputBox\{{$index}}" type="\{{property.type == 'string' ? 'text' : 'number'}}" ng-model="newObject.props[property.name]" class="form-control"/>
                          </div>
                        </div>
                      </div>
                      <button ng-click="createInstance()">Create</button>
                    </div>
                    <div class="well text-center consoleText" ng-show="showListInstancePanel == true">
                      <textarea rows="20" cols="90" readonly>\{{instanceList}}</textarea>
                    </div>
                  </div>
                  <h3>Properties</h3>
                  <ul ng-repeat="property in entity.properties">
                    <li>\{{property.name}} = \{{property.type}}</li>
                  </ul>
                </div>
              </div>
            </div>
        </div>
    </body>
</html>
